<!DOCTYPE html>
<html>

<head>
    <title>Upload Multiple Files</title>
</head>

<body>
    <h2>Upload Multiple Files</h2>
    <!-- <form action="/file/multiple" method="post" enctype="multipart/form-data">
        <div>
            <label for="file1">Upload files:</label>
            <input type="file" id="file1" name="files" multiple>
        </div>

        <div>
            <button type="submit">Upload</button>
        </div>
    </form> -->
    <img src="/file/64bfc356702187853fed6c99" alt="" height="200" width="200">
</body>

</html>